In [7]:
import akshare as ak
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

In [9]:
db_conn = sqlite3.connect("../database/hh_quant.db")

In [10]:
df = db_conn.execute()

In [15]:
df = pd.read_sql_query("select * from hh_quant_stock_base_info;", db_conn)

In [4]:
MYSQL_USERNAME = "root"
MYSQL_PASSWORD = "ml123456"
MYSQL_HOST = "127.0.0.1"
MYSQL_PORT = 3306
MYSQL_DATABASE = "hh_quant"

db_url = f'mysql+pymysql://{MYSQL_USERNAME}:{MYSQL_PASSWORD}@{MYSQL_HOST}/{MYSQL_DATABASE}'
db_conn = create_engine(db_url)

In [5]:
df.to_sql("hh_quant_stock_base_info", db_conn, if_exists='replace', index=False)

5343

In [11]:
df = pd.DataFrame([ak.stock_individual_info_em(symbol='000001').set_index("item").to_dict()["value"]]).rename(columns={
    
})

In [17]:
stock_info = ak.stock_zh_a_hist(symbol='000001', adjust="hfq", start_date='20000101', end_date='20050101')
stock_info = stock_info.rename(
    columns={
        "日期": "date",
        "开盘": "open",
        "最高": "high",
        "最低": "low",
        "收盘": "close",
        "成交量": "volume",
        "成交额": "turnover",
        "振幅": "amplitude",
        "涨跌幅": "change_pct",
        "涨跌额": "change_amount",
        "换手率": "turnover_rate",
    }
)
stock_info.insert(0, "stock_adjust", 'hfq')
stock_info.insert(0, "stock_name", '平安银行')
stock_info.insert(0, "stock_code", '000001')

In [18]:
stock_info.head()

,stock_code,stock_name,stock_adjust,date,open,close,high,low,volume,turnover,amplitude,change_pct,change_amount,turnover_rate
0,000001,平安银行,hfq,2000-01-04,576.58,601.56,609.79,567.10,82160,147324992.0,7.42,4.62,26.56,0.77
1,000001,平安银行,hfq,2000-01-05,603.46,594.29,619.27,592.39,93993,173475008.0,4.47,-1.21,-7.27,0.88
2,000001,平安银行,hfq,2000-01-06,593.03,617.06,625.60,584.49,120222,221192000.0,6.92,3.83,22.77,1.12
3,000001,平安银行,hfq,2000-01-07,624.02,641.09,648.36,620.85,229346,443592000.0,4.46,3.89,24.03,2.14
4,000001,平安银行,hfq,2000-01-10,649.00,660.06,670.82,648.36,185210,372294016.0,3.50,2.96,18.97,1.73