In [1]:
# %tensorboard --logdir ./logs/fit

In [2]:
import pandas as pd
import numpy as np
import akshare as ak

/var/folders/vc/j8df25m509sdsv8x_v9j7gk00000ks/T/ipykernel_60281/3679537691.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [50]:
stock_code = '600519'
start_date = '20000801'
# end_date = '20010901'
df_1 = ak.stock_zh_a_hist(symbol=stock_code, adjust='hfq', start_date=start_date) # 东财接口
df_2 = ak.stock_zh_a_daily("sh"+stock_code, adjust='hfq', start_date=start_date) # 新浪接口

In [51]:
df_1.tail()

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
5391,2024-03-08,9375.08,9329.20,9405.83,9322.27,22156,3.710679e+09,0.89,-0.65,-61.31,0.18
5392,2024-03-11,9347.14,9445.08,9467.14,9338.00,29895,5.048394e+09,1.38,1.24,115.88,0.24
5393,2024-03-12,9442.31,9698.88,9719.48,9425.03,54227,9.393309e+09,3.12,2.69,253.80,0.43
5394,2024-03-13,9673.60,9610.69,9713.95,9573.76,26500,4.588879e+09,1.45,-0.91,-88.19,0.21
5395,2024-03-14,9568.23,9556.33,9647.83,9530.55,19405,3.338768e+09,1.22,-0.57,-54.36,0.15

In [52]:
df_2.tail()

,date,open,high,low,close,volume,amount,outstanding_share,turnover
5391,2024-03-08,13565.21,13614.61,13480.37,13491.51,2215623.0,3.710679e+09,1.256198e+09,0.001764
5392,2024-03-11,13520.33,13713.08,13505.64,13677.65,2989509.0,5.048394e+09,1.256198e+09,0.002380
5393,2024-03-12,13673.21,14118.45,13645.44,14085.35,5422654.0,9.393309e+09,1.256198e+09,0.004317
5394,2024-03-13,14044.75,14109.57,13884.37,13943.69,2649954.0,4.588879e+09,1.256198e+09,0.002110
5395,2024-03-14,13875.49,14003.34,13814.95,13856.36,1940479.0,3.338768e+09,1.256198e+09,0.001545

In [77]:
df = ak.news_economic_baidu('20240314')

In [79]:
df = ak.stock_a_indicator_lg(symbol="all")