In [1]:
# %tensorboard --logdir ./logs/fit

In [46]:
import baostock as bs
import pandas as pd
import akshare as ak

bs.login()

login success!

In [76]:
df = ak.stock_zh_a_daily('sz000001')
df.tail()

,date,open,high,low,close,volume,amount,outstanding_share,turnover
7822,2024-03-08,10.35,10.44,10.30,10.38,111397428.0,1.154491e+09,1.940555e+10,0.005740
7823,2024-03-11,10.38,10.47,10.34,10.47,121067298.0,1.260212e+09,1.940555e+10,0.006239
7824,2024-03-12,10.48,10.59,10.41,10.56,164126237.0,1.722000e+09,1.940555e+10,0.008458
7825,2024-03-13,10.53,10.55,10.30,10.33,176803911.0,1.834655e+09,1.940555e+10,0.009111
7826,2024-03-14,10.30,10.38,10.20,10.23,140939973.0,1.448500e+09,1.940555e+10,0.007263

In [77]:
df = ak.stock_zh_a_daily('sh000001')
df.tail()

,date,open,high,low,close,volume,amount,outstanding_share,turnover
8040,2024-03-08,3026.16,3049.19,3016.90,3046.02,3.192044e+10,3.706475e+11,1.940555e+10,1.644913
8041,2024-03-11,3042.62,3068.46,3035.44,3068.46,3.616088e+10,4.278514e+11,1.940555e+10,1.863430
8042,2024-03-12,3068.18,3075.13,3044.86,3055.94,4.157439e+10,4.945585e+11,1.940555e+10,2.142397
8043,2024-03-13,3053.34,3061.95,3031.90,3043.84,3.650475e+10,4.424539e+11,1.940555e+10,1.881150
8044,2024-03-14,3042.41,3060.00,3020.64,3038.23,3.640723e+10,4.363388e+11,1.940555e+10,1.876125

In [78]:
df = ak.stock_zh_a_hist('000001')
df.tail()

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
7867,2024-03-11,10.38,10.47,10.47,10.34,1210673,1.260212e+09,1.25,0.87,0.09,0.62
7868,2024-03-12,10.48,10.56,10.59,10.41,1641262,1.722000e+09,1.72,0.86,0.09,0.85
7869,2024-03-13,10.53,10.33,10.55,10.30,1768039,1.834655e+09,2.37,-2.18,-0.23,0.91
7870,2024-03-14,10.30,10.23,10.38,10.20,1409400,1.448500e+09,1.74,-0.97,-0.10,0.73
7871,2024-03-15,10.55,10.60,10.75,10.50,3750208,3.973799e+09,2.44,3.62,0.37,1.93

In [42]:
rs = bs.query_history_k_data_plus(
    code="sh.600519",
    start_date='2000-01-01', end_date='2001-07-31',
    frequency="d", adjustflag="1")

TypeError: query_history_k_data_plus() missing 1 required positional argument: 'fields'

In [58]:
all_code = bs.query_all_stock(day='2024-03-13').get_data()

In [80]:
df = pd.DataFrame()
df['prefix'] = all_code['code'].map(lambda x: x.split('.')[0])
df['code'] = all_code['code'].map(lambda x: x.split('.')[1])
df['name'] = all_code['code_name']

In [81]:
df['prefix'].unique()

array(['bj', 'sh', 'sz'], dtype=object)

In [82]:
df[df['prefix'] == 'sh']['code'].map(lambda x: str(x)[0]).unique()

array(['0', '6'], dtype=object)

In [83]:
df[df['prefix'] == 'bj']['code'].map(lambda x: str(x)[0]).unique()

array(['4', '8'], dtype=object)

In [84]:
df[df['prefix'] == 'sz']['code'].map(lambda x: str(x)[0]).unique()

array(['0', '3'], dtype=object)