In [ ]:
%tensorboard --logdir ./logs/fit

In [2]:
import baostock as bs
import pandas as pd

# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# # 获取上证50成分股
# rs = bs.query_sz50_stocks(date='2010-04-28')

# # 登出系统
# bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success

In [12]:
df = bs.query_stock_basic().get_data()
dd = bs.query_stock_industry().get_data()
if not df.empty and not dd.empty:
    dataframe = df.merge(dd[['code', 'code_name', 'industry']], on=['code', 'code_name'])

In [21]:
dataframe['industry'].replace("", "其他").value_counts()

其他      889
机械设备    472
化工      425
医药生物    397
电子      342
计算机     265
电气设备    242
汽车      213
公用事业    205
传媒      166
轻工制造    150
建筑装饰    148
有色金属    134
交通运输    126
食品饮料    120
房地产     115
通信      109
纺织服装     94
农林牧渔     94
商业贸易     92
国防军工     89
非银金融     82
建筑材料     73
家用电器     71
采掘       63
银行       41
综合       38
休闲服务     36
钢铁       36
Name: industry, dtype: int64

In [3]:
dd = bs.query_stock_basic().get_data()

In [7]:
dd['code'].map(lambda x: x.split('.')[0]).value_counts()

sz    3881
sh    3068
of     971
Name: code, dtype: int64

In [2]:
df = bs.query_trade_dates(start_date='2013-02-05', end_date='2014-02-05').get_data()
df = df[df["is_trading_day"] == "1"]["calendar_date"]  # 选择交易日(%Y-%m-%d)

In [6]:
pd.DataFrame([{'datetime': '2013-02-05'}])

     datetime
0  2013-02-05

In [15]:
df = bs.query_all_stock(day='2013-02-05').get_data()

In [27]:
dd = bs.query_trade_dates(start_date='2013-02-05', end_date='2014-02-05').get_data().to_records(index=False)

In [24]:
sample = df.head().to_records(index=False)

In [13]:
dd = bs.query_all_stock()

In [16]:
import sqlite3

db_conn = sqlite3.connect('../database_auto/hh_quant_auto.db')

In [18]:
pd.read_sql_query('select * from hh_quant_history_trade_date_info;', db_conn)["datetime"].max()

'2024-05-07'

In [20]:
from datetime import datetime
datetime.strptime('2024-05-07', "%Y-%m-%d")

datetime.datetime(2024, 5, 7, 0, 0)

In [21]:
import tensorflow as tf
import numpy as np

2024-05-07 07:32:43.068797: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-07 07:32:43.966745: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [24]:
sample_1 = np.array([1.,2.,3.,0,0,0])
sample_2 = np.array([1.,2.,3.,-1e9,-1e9,-1e9])

print(f"version_1: {tf.nn.softmax(sample_1)}")
print(f"version_2: {tf.nn.softmax(sample_2)}")

version_1: [0.08189353 0.22260971 0.60511592 0.03012695 0.03012695 0.03012695]
version_2: [0.09003057 0.24472847 0.66524096 0.         0.         0.        ]

In [7]:
test = np.array([1,2,3,-65504.])

tf.nn.softmax(test)

In [8]:
pd.DataFrame({"datetime": [1,2,3,4,5]})

   datetime
0         1
1         2
2         3
3         4
4         5